<h1>PDM 로그</h1>

<%= link_to "다운로드", pdm_logs_download_path %>
<%= link_to "신규등록", pdm_logs_newcreate_path%>
<%= link_to "버전업", pdm_logs_versionup_path%>
<%= link_to "설계변경", pdm_logs_engchange_path%>

<br><br><br>
data<%= @data %>